#naslov {
  left: 35%;
  top: 35%;
  text-align: center;
  widht: 400px;
  height: 200px;
}

.boogle {
  text-align: center;
  font-size: 150px;
  text-color: linear-gradient(to right, blue , red);
}

input[type=text] {
    width: 400px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
